<tr class="field">
  <form action="/stations/{{station_id}}/{{id}}/editRecord/false" method="POST">
    <td>
      <div class="select field" placeholder="Code">
        <select class="input" type="number" placeholder="Code" name="code">
          {{!-- asked AI about @root because {{../../codesList}} didnt work and google was giving me handlebars for
          bikes :D --}}
          {{#each @root.codesList}}
          <p>{{code}}</p>
          {{/each}}
          <option>{{code}}</option>
          {{#each @root.codesList}}
          <option>{{code}}</option>
          {{/each}}
        </select>
      </div>
    </td>
    <td><input class="input" type="number" placeholder="Temperature" name="temperature" min="-100" max="70"
        value="{{temperature}}"></td>
    <td><input class="input" type="number" placeholder="Wind speed" name="wind_speed" min="0" max="999"
        value="{{wind_speed}}"></td>
    <td> <input class="input" type="number" placeholder="Wind direction" name="wind_direction" min="0" max="360"
        value="{{wind_direction}}"></td>
    <td><input class="input" type="number" placeholder="Pressure" name="pressure" min="750" max="1200"
        value="{{pressure}}"></td>
    {{#if @root.userIsAdmin}}
    <td>{{id}}</td>
    {{/if}}
    <td>{{created_by_name}}</td>
    <td>{{timestamp_created}}</td>
    <td><button class="button is-primary"><div class="station-button">{{>icons/ok-icon}}</div></button></div> 
    </td>
  </form>
  <td><a href="/stations/{{station_id}}" class="button is-secondary"><div class="station-button">{{>icons/cancel-icon}}</div></td>
</tr>