<div class="header">
  <div style="position: relative; text-align: center;">
    <div class="title is-4">Station {{currentStation.name}} deleted records</div>
    </div>
    </div>
<table class="table is-fullwidth">
<thead>
    <tr>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th>ID</th>
        <th>Timestamp</th>
    </tr>
</thead>
{{#each deletedRecordsData}}
  <tr>
    <td>{{code}}</td>
    <td>{{temperature}}</td>
    <td>{{wind_speed}}</td>
    <td>{{wind_direction}}</td>
    <td>{{pressure}}</td>
    <td>{{id}}</td>
    <td>{{timestamp}}</td>
    {{!-- <td><a href="/stations/{{station_id}}">Edit</a></td> --}}
    <td><a href="/stations/{{station_id}}/{{id}}/restoreRecord">Restore</a></td>
    <td><a href="/stations/{{station_id}}/{{id}}/deleteRecordFromDB">Delete Forever</a></td>
  </tr>
{{/each}}
</table>