<div style="position: relative; text-align: center;">
  <div class="title is-4 p-5">Station {{currentStation.name}} deleted records</div>
</div>
<div  style="max-height: 20rem; overflow-y:auto">

<table class="table is-fullwidth centered__table is-striped is-narrow" id="scroll">
  {{#if userIsAdmin}}
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th>ID</th>
      <th>Created By</th>
      <th>Deleted On</th>
      <th>Restore</th>
      <th>Delete Forever</th>
    </tr>
  </thead>
  {{#each (revert deletedRecordsDataByStationId)}}
  <tr>
    <td>{{code}}</td>
    <td>{{temperature}}°C</td>
    <td>{{wind_speed}} m/s</td>
    <td><img src="/views/partials/icons/wind_direction.svg" alt="{{wind_direction}}"
            style="height: 16px; width: 16px; rotate: {{wind_direction}}deg;">
        {{wind_direction}}°</td>
    <td>{{pressure}}</td>
    <td>{{id}}</td>
    <td>{{created_by_name}}</td>
    <td>{{deleted_timestamp}}</td>
    {{!-- <td><a href="/stations/{{station_id}}">Edit</a></td> --}}
    <td><a href="/stations/{{station_id}}/{{id}}/restoreRecord" class="button"><div class="station-button">{{>icons/restore-icon}}</div></a></td>
    <td><a href="/stations/{{station_id}}/{{id}}/deleteRecordFromDB" class="button"><div class="station-button">{{>icons/delete-forever-icon}}</div></a></td>
  </tr>
  {{/each}}
  {{else}}
  {{!-- for users --}}
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th>Created By</th>
      <th>Deleted On</th>
      <th>Restore</th>
      <th>Delete Forever</th>
    </tr>
  </thead>
  {{#each (revert deletedRecordsDataByStationId)}}
  {{!-- <p>{{this.deleted_by}} & {{../currentUserID}}<br></p> --}}
  {{#if (eq this.deleted_by ../currentUserID)}}
  <tr>
    <td>{{code}}</td>
    <td>{{temperature}}</td>
    <td>{{wind_speed}}</td>
    <td><img src="/views/partials/icons/wind_direction.svg" alt="{{wind_direction}}"
            style="height: 16px; width: 16px; rotate: {{wind_direction}}deg;">
        {{wind_direction}}°</td>
    <td>{{pressure}}</td>
    <td>{{created_by_name}}</td>
    <td>{{deleted_timestamp}}</td>
    {{!-- <td><a href="/stations/{{station_id}}">Edit</a></td> --}}
    <td><a href="/stations/{{station_id}}/{{id}}/restoreRecord" class="button"><div class="station-button">{{>icons/restore-icon}}</div></a></td>
    <td><a href="/stations/{{station_id}}/{{id}}/deleteRecordFromDB" class="button"><div class="station-button">{{>icons/delete-forever-icon}}</div></a></td>
  </tr>
  {{else}}
  {{/if}}
  {{/each}}
  {{/if}}
</table>
</div>