<div>
  <div class="table-container" style="max-height: 40rem; overflow-y:auto" id="scroll">
    <table class="table is-fullwidth centered__table is-striped is-narrow">
      {{#if userIsAdmin}}
      <thead>
        <tr>
          <th>Code</th>
          <th>Temperature</th>
          <th>Wind Speed</th>
          <th>Wind Direction</th>
          <th>Pressure</th>
          <th>ID</th>
          <th>Created By</th>
          <th>Timestamp</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      {{#each activeRecordsDataByStationId}}
      {{#if (eq ../editRecord id)}}
      {{>editRecord}}
      {{else}}
      <tr>
        <td>{{code}}</td>
        <td>{{temperature}}</td>
        <td>{{wind_speed}}</td>
        <td><img src="/views/partials/icons/wind_unselected.svg" alt="{{wind_direction}}"
            style="height: 16px; width: 16px; rotate: -{{wind_direction}}deg;">
        {{wind_direction}}°</td>
        <td>{{pressure}}</td>
        <td>{{id}}</td>
        <td>{{created_by_name}}</td>
        <td>{{timestamp_created}}</td>
        <td><a href="/stations/{{station_id}}/{{id}}/editRecord/true" class="button">
            <div class="station-button">{{>icons/edit-icon}}</div>
          </a></td>
        <td><a href="/stations/{{station_id}}/{{id}}/deleteRecord" class="button">
            <div class="station-button">{{>icons/delete-icon}}</div>
          </a></td>
      </tr>
      {{/if}}
      {{/each}}
    </table>
    {{!-- view for users --}}
    {{else}}
    <thead>
      <tr>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th>Created By</th>
        <th>Created On</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    {{#each activeRecordsDataByStationId}}
    {{#if (eq ../editRecord id)}}
    {{>editRecord}}
    {{else}}
    <tr>
      <td>{{code}}</td>
      <td>{{temperature}}</td>
      <td>{{wind_speed}}</td>
      <td><img src="/views/partials/icons/wind_unselected.svg" alt="{{wind_direction}}"
            style="height: 16px; width: 16px; rotate: -{{wind_direction}}deg;">
        {{wind_direction}}°</td>
      <td>{{pressure}}</td>
      <td>{{created_by_name}}</td>
      <td>{{timestamp_created}}</td>
      {{!-- <td><a href="/stations/{{station_id}}/{{id}}">Edit</a></td> --}}
      {{!-- I wasted 3 hours to find how can I get currentUserId from viewData, but copilot did it in 5 sec... "../"
      really??? --}}
      {{!-- ../currentUserID accesses the currentUserID variable from the parent context (outside the current each
      loop). This is necessary because, inside a loop, this refers to the current item, so you need ../ to move up one
      level in the context stack. --}}
      {{!-- we are living at the wonderfull time --}}
      {{#if (eq ../currentUserID this.created_by)}}
      {{#if (eq this.source "User input")}}
      <td><a href="/stations/{{station_id}}/{{id}}/editRecord/true" class="button">
          <div class="station-button">{{>icons/edit-icon}}</div>
        </a></td>
      {{else}}
      <td></td>
      {{/if}}
      <td><a href="/stations/{{station_id}}/{{id}}/deleteRecord" class="button">
          <div class="station-button">{{>icons/delete-icon}}</div>
        </a></td>
      {{else}}
      <td></td>
      <td></td>
      {{/if}}
    </tr>
    {{/if}}
    {{/each}}
    </table>
  </div>
  {{/if}}
</div>