<div class="header"><div style="position: relative; text-align: center;"><div class="title is-4">Station list deleted</div></div></div>
<table class="table is-fullwidth">
<thead>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>County</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>ID</th>
        <th>Deleted</th>
        <th>Edit</th>
        <th>Restore</th>
        <th>Delete Forever</th>
    </tr>
</thead>
{{#each deletedStationsData}}
  <tr>
    <td>{{station.name}}</td>
    <td>{{station.city}}</td>
    <td>{{station.county}}</td>
    <td>{{station.latitude}}</td>
    <td>{{station.longitude}}</td>
    <td>{{station.id}}</td>
    <td>{{station.timestamp_deleted}}</td>
     <td><a href="/stations/{{station.id}}">Edit</a></td>
     <td><a href="/stations/{{station.id}}/restoreStation">Restore</a></td>
     <td><a href="/stations/{{station.id}}/deleteStationFromDB">Delete Forever</a></td>
  </tr>
{{/each}}
</table>