<style>
    .dashboard__summary--element {
        width: 225px; 
        {{!-- border-style: solid; --}}
        border-radius: 4px;
        border-color: red;
    }
    .dashboard__summary--header {
        background-color: #EEEEEE;
        border-radius: 10px;
    }
    @media only screen and (max-width: 600px){
    .dashboard__summary--element {
        width: 100%;
    }

    .fullwidth__mobile {
        width: 100%;
    }
    }
</style>

<section class="is-flex is-justify-content-center is-justify-content-space-around is-flex-wrap-wrap" style="margin-bottom: 2rem;">
    <div class="dashboard__summary--element">

    <div class="p-2 dashboard__summary--element">
        <div class="dashboard__summary--header is-flex is-flex-direction-row">
            <div class="card-header-title">Location<br>{{summaryForTheStation.location}}</div>
            <div class="card-header-icon">{{>icons/location}}</div>
        </div>
        <div class="card-content">
            <p>Longitude: {{summaryForTheStation.longitude}}</p>
            <p>Latitude: {{summaryForTheStation.latitude}}</p>
        </div>
    </div>

    <div class="p-2 dashboard__summary--element">
        <div class="dashboard__summary--header is-flex is-flex-direction-row">
            <div class="card-header-title">Weather<br>Code {{currentWeatherConditions.code}}<br></div>
            <div class="card-header-icon">{{>icons/current-weather}}</div>
        </div>
        <div class="card-content">
            <div>
                <p>{{currentWeatherConditions.description}}</p>
            </div>

        </div>
    </div>
    </div>

    <div class="p-2 dashboard__summary--element">
        <div class="dashboard__summary--header is-flex is-flex-direction-row">
            <div class="card-header-title">Temp<br>{{summaryForTheStation.currentTemp}}°C</div>
            <div class="card-header-icon">{{>icons/temperature}}</div>
        </div>
        <div class="card-content">
            <p>Now: {{summaryForTheStation.currentTemp}}°C</p>
            <br><br><p>Overall: </p>
            <p>Min: {{summaryForTheStation.minTemp}}°C</p>
            <p>Max: {{summaryForTheStation.maxTemp}}°C</p>
            <p>Average: {{summaryForTheStation.avarageTemp}}°C</p>
        </div>
    </div>

    <div class="p-2 dashboard__summary--element">
        <div class="dashboard__summary--header is-flex is-flex-direction-row">
            <div class="card-header-title">Wind<br>{{summaryForTheStation.currentWindSpeed}} m/s</div>
            <div class="card-header-icon">{{>icons/wind}}</div>
        </div>
        <div class="card-content">
            <p>Speed: {{summaryForTheStation.currentWindSpeed}} m/s</p>
            <p>Direction: {{summaryForTheStation.currentWindDirection}} m/s</p>
            <br><p>Overall: </p>
            <p>Min: {{summaryForTheStation.minWindSpeed}} m/s</p>
            <p>Max: {{summaryForTheStation.maxWindSpeed}} m/s</p>
            <p>Average: {{summaryForTheStation.avarageWindDirection}} m/s</p>
        </div>
    </div>

    <div class="p-2 dashboard__summary--element">
        <div class="dashboard__summary--header is-flex is-flex-direction-row">
            <div class="card-header-title">Pressure<br>{{summaryForTheStation.currentPressure}} hPa</div>
            <div class="card-header-icon">{{>icons/pressure}}</div>
        </div>
        <div class="card-content">
            <p>Now: {{summaryForTheStation.currentPressure}} hPa</p>
            <br><br><p>Overall: </p>
            <p>Min: {{summaryForTheStation.minPressure}} hPa</p>
            <p>Max: {{summaryForTheStation.maxPressure}} hPa</p>
            <p>Avarage: {{summaryForTheStation.avaragePressure}} hPa</p>
        </div>
    </div>

</section>