{{!-- TODO: css search by station city or county --}}
{{!-- TODO: hover over the tile show tooltip on the map and centers the viev on the station --}}
<div class="is-flex is-flex-wrap-wrap p-2;" style="max-height: 50rem; overflow-y:auto">
  {{#each summaryForTheStation}}
  <div class="is-flex is-flex-direction-column is-flex-wrap-wrap is-justify-content-center p-2"
    style="width: 20%; min-width: 215px; margin-top: 10px;">
    <div class="is-flex is-flex-direction-row is-flex-wrap-wrap card p-0"
      style="background-color: #ffb901; margin: 0; gap: 15px; height: 300px;">

      {{!-- card --}}
      <a href="/stations/{{id}}"
        class="card is-flex is-flex-direction-column is-justify-content-center is-flex-grow-1 p-0"
        style="width: 100px; ">
        <div class="has-text-centered" style="padding: 10px 10px 0 10px;">
          <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><strong>{{name}}</strong></p>
          <p class="is-2">Co. {{county}}</p>
        </div>
        <div class="is-flex is-justify-content-center">
          <div class="card-header-icon"><img src="{{currentWeatherConditions.icon}}" style="width: 100px;"></div>
        </div>
        <div class="card-content is-flex" style="padding: 0px 15px 15px 15px;">
          <div class="is-flex is-flex-direction-column">
            <p><span class="has-text-weight-bold">
                {{#if this.currentTemp}}
                Temp: {{this.currentTemp}} °C
                {{else}}
                t°: -
                {{/if}}
              </span></p>

            <div class="is-flex is-align-items-center">
              <p>Wind:&nbsp
                {{#if this.currentWindSpeed}}
                {{this.currentWindSpeed}} m/s&nbsp
                {{else}}
                -
                {{/if}}
                <br>

                {{#if this.currentWindDirection}}
                Direction: {{this.currentWindDirection}}°&nbsp
              
                <img src="/views/partials/icons/wind_unselected.svg" alt="{{currentWindDirection}}"
                  style="rotate: -{{currentWindDirection}}deg; height: 16px; width: 16px;"
                {{else}}
                Deg: -
                {{/if}}
                </p>
            </div>
            <p>Pressure:
              {{#if this.currentPressure}}
              {{this.currentPressure}} hPa&nbsp
              {{else}}
              - &nbsp
              {{/if}}</p>
          </div>
        </div>
      </a>
    </div>



    {{!-- info --}}
    {{!-- <div
      class="is-flex is-justify-content-space-evenly is-align-items-center is-flex-grow-3 is-flex-direction-row card cardInfo"
      style="margin: 0">

    </div> --}}




  </div>

  {{/each}}
</div>