<div class="header"><div style="position: relative; text-align: center;"><div class="title is-4">Station list</div></div></div>
<table class="table is-fullwidth">
<thead>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>County</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>ID</th>
        <th>Added</th>
    </tr>
</thead>
{{#each stationsData}}
  <tr>
    <td>{{station.name}}</td>
    <td>{{station.city}}</td>
    <td>{{station.county}}</td>
    <td>{{station.latitude}}</td>
    <td>{{station.longitude}}</td>
    <td>{{station.id}}</td>
    <td>{{station.timestamp_created}}</td>
     <td><a href="/stations/{{station.id}}">Edit</a></td>
  </tr>
{{/each}}
</table>