<section class="is-flex is-justify-content-center is-justify-content-space-around" style="margin-bottom: 2rem;">
    <div class="p-2">
        <div class="is-flex is-flex-direction-row">
            <div class="card-header-title">Location<br>{{summaryForTheStation.city}}</div>
            <div class="card-header-icon">{{>icons/location}}</div>
        </div>
        <div class="card-content">
            <p>Longitude: {{summaryForTheStation.longitude}}</p>
            <p>Latitude: {{summaryForTheStation.latitude}}</p>
        </div>
    </div>

    <div class="p-2">
        <div class="is-flex is-flex-direction-row">
            <div class="card-header-title">Weather<br>{{currentWeatherConditions.code}}<br></div>
            <div class="card-header-icon">{{>icons/current-weather}}</div>
        </div>
        <div class="card-content">
            <div>
                <p>{{currentWeatherConditions.description}}</p>
            </div>

        </div>
    </div>

    <div class="p-2">
        <div class="is-flex is-flex-direction-row">
            <div class="card-header-title">Temp<br>{{summaryForTheStation.currentTemp}}</div>
            <div class="card-header-icon">{{>icons/temperature}}</div>
        </div>
        <div class="card-content">
            <p>Now: {{summaryForTheStation.currentTemp}}</p>
            <p>Min: {{summaryForTheStation.minTemp}}</p>
            <p>Max: {{summaryForTheStation.maxTemp}}</p>
            <p>Average: {{summaryForTheStation.avarageTemp}}</p>
        </div>
    </div>

    <div class="p-2">
        <div class="is-flex is-flex-direction-row">
            <div class="card-header-title">Wind<br>{{summaryForTheStation.currentWindSpeed}}</div>
            <div class="card-header-icon">{{>icons/wind}}</div>
        </div>
        <div class="card-content">
            <p>Speed: {{summaryForTheStation.currentWindSpeed}}</p>
            <p>Direction: {{summaryForTheStation.currentWindDirection}}</p>
            <p>Min: {{summaryForTheStation.minWindSpeed}}</p>
            <p>Max: {{summaryForTheStation.maxWindSpeed}}</p>
            <p>Average: {{summaryForTheStation.avarageWindDirection}}</p>
        </div>
    </div>

    <div class="p-2">
        <div class="is-flex is-flex-direction-row">
            <div class="card-header-title">Pressure<br>{{summaryForTheStation.currentPressure}}</div>
            <div class="card-header-icon">{{>icons/pressure}}</div>
        </div>
        <div class="card-content">
            <p>Now: {{summaryForTheStation.currentPressure}}</p>
            <p>Min: {{summaryForTheStation.minPressure}}</p>
            <p>Max: {{summaryForTheStation.maxPressure}}</p>
            <p>Avarage: {{summaryForTheStation.avaragePressure}}</p>
        </div>
    </div>
</section>

{{!-- TODO: make better design --}}