<div class="header">
  <div style="position: relative; text-align: center;">
    <div class="title is-4">Station list</div>
  </div>
</div>

<section>

  <div style="max-height: 40rem; overflow-y:auto">
    <table class="table is-fullwidth">
      {{#if userIsAdmin}}
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>County</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>ID</th>
          <th>Created By</th>
          <th>Created On</th>
          <th>Open</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      {{#each activeStationsData}}
      {{#if (eq ../editStation id)}}
      {{>editStation}}
      {{else}}
      <tr>
        <td>{{name}}</td>
        <td>{{city}}</td>
        <td>{{county}}</td>
        <td>{{latitude}}</td>
        <td>{{longitude}}</td>
        <td>{{id}}</td>
        <td>{{created_by_name}}</td>
        <td>{{timestamp_created}}</td>
        <td><a href="/stations/{{id}}" class="button"><div class="station-button">{{>icons/logo}}</div></a></td>
        <td><a href="/stations/editStation/{{id}}/true" class="button"><div class="station-button">{{>icons/edit-icon}}</div></a></td>
        <td><a href="/stations/{{id}}/deleteStation" class="button"><div class="station-button">{{>icons/delete-icon}}</div></a></td>
        {{!-- <td><a href="/stations/{{id}}">Open</a></td>
        <td><a href="/stations/editStation/{{id}}/true">Edit</a></td>
        <td><a href="/stations/{{id}}/deleteStation">Delete</a></td> --}}
      </tr>
      {{/if}}
      {{/each}}
    </table>
    {{else}}
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>County</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Created By</th>
        <th>Created On</th>
        <th>Open</th>
      </tr>
    </thead>
    {{#each activeStationsData}}
    <tr>
      <td>{{name}}</td>
      <td>{{city}}</td>
      <td>{{county}}</td>
      <td>{{latitude}}</td>
      <td>{{longitude}}</td>
      <td>{{created_by_name}}</td>
      <td>{{timestamp_created}}</td>
      <td><a href="/stations/{{id}}" class="button"><div class="station-button">{{>icons/logo}}</div></a></td>
      {{!-- <td><a href="/stations/{{id}}/deleteStation">Delete</a></td> --}}
    </tr>
    {{/each}}
    </table>
  </div>
  {{/if}}
</section>