<div class="header">
  <div style="position: relative; text-align: center;">
    <div class="title is-4">Deleted stations</div>
  </div>
</div>
<div style="max-height: 20rem; overflow-y:auto">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>County</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>ID</th>
        <th>Created By</th>
        <th>Deleted</th>
        <th>Timestamp</th>
        <th>Edit</th>
        <th>Restore</th>
        <th>Delete Forever</th>
      </tr>
    </thead>
    {{#each deletedStationsData}}
    <tr>
      <td>{{name}}</td>
      <td>{{city}}</td>
      <td>{{county}}</td>
      <td>{{latitude}}</td>
      <td>{{longitude}}</td>
      <td>{{id}}</td>
      <td>{{created_by_name}}</td>
      <td>{{deleted_by}}</td>
      <td>{{deleted_timestamp}}</td>
      <td><a href="/stations/{{id}}">Edit</a></td>
      <td><a href="/stations/{{id}}/restoreStation">Restore</a></td>
      <td><a href="/stations/{{id}}/deleteStationFromDB">Delete Forever</a></td>
    </tr>
    {{/each}}
  </table>
</div>