{{>page/menu active="logs"}}
{{!-- TODO: make style work! --}}
<style>
    .code{
        font-size: large; 
    }

    .log{
        background-color: #f5f5f5; 
        color: #da1039;"
    }
</style>
<section>
    <div class="table-container" style="max-height: 40rem; overflow-y:auto">
        <table class="table is-fullwidth">

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>User name</th>
                    <th>Description</th>
                </tr>
            </thead>
            {{#each logsData}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.time}}</td>
                <td>{{this.user}}</td>
                <td>{{this.text1}}&nbsp;<span class="log">{{this.record_id}}</span>&nbsp;{{this.text2}}&nbsp;<span class="log">{{this.station_id}}</span>&nbsp;{{this.text3}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>



{{>page/footer}}