{{>page/menu active="logs"}}
<section>
    <div class="table-container logs__table" style="max-height: 40rem; overflow-y:auto" id="scroll">
        <table class="table is-fullwidth">

            <thead>
                <tr>
                    <th>LogID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>User name</th>
                    <th>Description</th>
                </tr>
            </thead>
            {{#each logsData}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.date}}</td>
                <td>{{this.time}}</td>
                <td>{{this.user}}</td>
                <td>{{this.text1}}&nbsp;<span class="log">{{this.record_id}}</span>&nbsp;{{this.text2}}&nbsp;<span class="log">{{this.station_id}}</span>&nbsp;{{this.text3}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>
{{>page/footer}}