{{>page/menu active="logs"}}
<section>
    <div class="table-container logs__table" style="max-height: 40rem; overflow-y:auto;">
        <table class="table is-striped is-narrow is-fullwidth">

            <thead>
                <tr>
                    <th>LogID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>User name</th>
                    <th>Description</th>
                </tr>
            </thead>
            {{#each (revert logsData)}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.date}}</td>
                <td>{{this.time}}</td>
                <td>{{this.user}}</td>
                <td>
                    {{this.text1}}&nbsp;<span class="log">{{this.record_id}}</span>
                <br>{{this.text2}}&nbsp;<span class="log">{{this.station_id}}</span>
                <br>{{this.text3}}
                <br>{{this.text4}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>
{{>page/footer}}