{{>page/menu}}
{{!-- TODO: make style work! --}}
<style>
    .code{
        font-size: large; 
    }
</style>
<section>
    <div class="table-container" style="max-height: 40rem; overflow-y:auto">
        <table class="table is-fullwidth">

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>User name</th>
                    <th>Description</th>
                </tr>
            </thead>
            {{#each logsData}}
            <tr>
                <td>{{this.date}}</td>
                <td>{{this.time}}</td>
                <td>{{this.user}}</td>
                <td>{{this.text1}}<code style="font-size: large">{{this.record_id}}</code>{{this.text2}}<code style="font-size: large">{{this.station_id}}</code>{{this.text3}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>



{{>page/footer}}